.homepage-h3{
	margin: 0 0 15px;
	padding: 10px;
}

.homepage-nav{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	padding: 10px 0;
	border: 1px solid #c3c3c3;
	border-left: none;
	border-right: none;
	margin-bottom: 20px;
}

.homepage-nav-item{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cart-nav-group div{
	position: relative;
	right: 10px;
}

.homepage-nav-item .fa-chevron-down{
	position: relative;
	top: 2px;
}

.homepage-nav-item-border{
	border-right: 1px solid #c3c3c3;
}


.homepage-nav-item .group-icon{
	position: relative;
	left: 4px;
}

.homepage-search-container{
	display: flex;
	place-items: center;
	width: 95%;
	max-width: 340px;
	margin: 0 auto 20px;
}

.homepage-search-container input{
	width: 90%;
	padding: 15px 10px;
	border: none;
	background: rgb(239, 242, 247);
	font-weight: bold;
}

.homepage-search-container i{
	position: relative;
	right: 25px;
	color: grey;
}
.homepage-carousel .homepage-carousel-sm{
	max-width: 800px;
}

.homepage-carousel-sm{
	white-space: nowrap;
	width: 100%;	
	margin-bottom: 20px;
	overflow-x: auto;
	scrollbar-width: thin;
	-ms-overflow-style: thin;
}

.homepage-carousel-item::-webkit-scrollbar{
	width: thin;
}

.homepage-carousel-item{
	display: inline-flex;
	gap: 5px;
	padding: 8px;
	height: 130px;
}

.homepage-carousel-sm .homepage-carousel-item {
	margin-right: 8px;
}

.homepage-sec-nav{
	display: flex;
	align-items: center;
	justify-content: space-around;
	column-gap: 1%;
	margin: 20px auto;
}

.homepage-sec-nav-item{
	display: grid;
	place-items: center;
	text-align: center;
}

.sec-nav-icon{
	padding: 20px;
	display: grid;
	place-items: center;
	margin-bottom: 5px;
}

.sec-nav-icon i{
	font-size: 30px;
}

.homepage-items-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	column-gap: 1%;
	padding: 0 5px;
	margin: 15px auto 90px;
}

.item-tab{
	display: grid;
	text-decoration: none;
	color: #000;
	justify-items: left;
	margin: 10px auto;
}

.item-tab img{
	width: 100%;
	min-height: 120px;
}


.homepage-primary-nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	z-index: 10;
}

.homepage-primary-nav-item{
	text-decoration: none;
	display: grid;
	justify-items: center;
	padding: 13px 0;
}

.homepage-primary-nav-item i {
	margin: 5px auto;
	font-size: 20px;
}


@media screen and (min-width: 500px){
	.homepage-carousel-item{
		justify-content: space-around;
		font-size: 19px;
		width: 95%;
		gap: 10px;
		margin-right: 10px;
		height: 180px;
	}

	.homepage-carousel-item button{
		font-size: 17px;
	}
}


@media screen and (min-width: 600px){
	.homepage-nav-item{
		column-gap: 10%;
		justify-content: center;
	}
	.homepage-nav{
		margin-bottom: 30px;
	}
	.homepage-carousel-sm{
		white-space: nowrap;
		width: 100%;
		max-width: 800px;
		margin-bottom: 20px;
		display: none;
	}

	.homepage-sec-nav{
		justify-content: center;
		column-gap: 5%;
		margin: 35px auto;
	}
	.homepage-items-container {
		margin: 25px auto;
	}
	.homepage-items-container {
		margin-bottom: 120px;
	}
}

@media screen and (min-width: 800px){
	.homepage-primary-nav{
		width: 800px;
	}
}

@media screen and (max-width: 350px){
	.homepage-nav-item div{
		font-size: 12px;
		font-weight: bold;
	}
}