body{
	padding: 0;
	max-width: 800px;
	margin: 0 auto;
}

.text-center{
	text-align: center;
}

.group-icon span{
	padding: 2px 7px 4px;
	position: relative;
	bottom: 9px;
	right: 5px;
}

.pointer{
	cursor: pointer;
}

.link{
	text-decoration: none;
}

.text-black{
	color: #000;
}

.text-red-200{
	color: 	rgb(228, 87, 84);
}

.text-green-900{
	color: rgb(3, 63, 34);
}

.font-semibold{
	font-weight: 500;
}

.font-bold{
	font-weight: bold;
}

.text-grey{
	color: rgba(0, 0, 0, 0.7);
}

.bg-white{
	background-color: #fff;
}

.bg-grey-50{
	background-color: #f3f3f3;
}

.bg-grey-100{
	background-color: #e3e3e3;
}

.bg-orange-500{
	background: rgb(237, 111, 56)
}

.w-10p{
	width: 100px;
}
.text-orange-300{
	color: rgb(231, 157, 125)
}

.text-orange-500{
	color: rgb(237, 111, 56)
}

.text-blue-400{
	color: rgb(38, 123, 253);
}

.text-blue-900{
	color: rgb(1, 45, 110);
}


.bg-blue-400{
	background: rgb(38, 123, 253);
}

.bg-blue-900{
	background: rgb(1, 47, 116);
}

.bg-purple-400{
	background: rgb(124, 66, 240);
}

.text-purple-400{
	color: rgb(124, 66, 240);
}

.bg-green-200{
	background: rgb(8, 219, 117);
}

.text-green-200{
	color: rgb(8, 219, 117);
}

.text-green-400{
	color: rgb(7, 145, 78);
}

.bg-green-400{
	background: rgb(7, 145, 78);
}

.border-rounded-full{
	border-radius: 100%;
}

.border-rounded{
	border-radius: 6px;
}

.p-rect-y-circular{
	padding: 4px 6px;
}

.m-5{
	margin: 5px;
}

.p-2{
	padding: 2px;
}

.p-4{
	padding: 5px;
}

.py-10{
	padding-top: 10px;
	padding-bottom: 10px;
}

.px-15{
	padding-left: 15px;
	padding-right: 15px;
}

.border-0{
	border: none;
}

.p-rect-x-circular{
	padding: 6px 3px;
}

.font-small {
	font-size: 10px;
}

.font-medium {
	font-size: 14px;
}

.font-lg {
	font-size: 18px;
}

.font-xl {
	font-size: 21px;
}

.flex{
	display: flex;
}

.space-between{
	justify-content: space-between;
}

.space-around{
	justify-content: space-around;
}

.align-center{
	align-items: center;
}

.text-white{
	color: #fff;
}

.hidden{
	display: none;
}

.w-full{
	width: 100vw;
}

.w-90{
	width: 90vw;
}

.w-95{
	width: 95vw;
}